- alias: mijia_button
  trigger:
    - platform: event
      event_type: zha_event
      event_data:
        device_id: 94c9d65a272ddc185a55b918b87ee142
  action:
    - variables:
        click_type: "{{ trigger.event.data.args.click_type }}"
        attrname: "{{ trigger.event.data.args.attribute_name }}"
        value: "{{ trigger.event.data.args.value }}"
        command: "{{ trigger.event.data.command }}"
    - choose:
        - conditions: "{{ command == 'hold' }}"
          sequence:
            - service: input_text.set_value
              entity_id: input_text.mijia_button
              data:
                value: long_click
        - conditions: "{{ command == 'click' }}"
          sequence:
            - choose:
                - conditions: "{{ click_type == 'double' }}"
                  sequence:
                    - service: input_text.set_value
                      entity_id: input_text.mijia_button
                      data:
                        value: double_click
                - conditions: "{{ click_type == 'single' }}"
                  sequence:
                    - service: input_text.set_value
                      entity_id: input_text.mijia_button
                      data:
                        value: click
                - conditions: "{{ click_type == 'hold' }}"
                  sequence:
                    - service: input_text.set_value
                      entity_id: input_text.mijia_button
                      data:
                        value: long_click
    - service: input_text.set_value
      entity_id: input_text.mijia_button
      data:
        value: ""
