esphome:
  name: energy-meter
  friendly_name: energy-meter

esp32:
  board: lolin_s2_pico
  framework:
    type: arduino

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: "1KMOFqNNhyid5ZQgio7PkjQ8/1X0Q8rcrLyo2fUT2nM="
  services:
    - service: set_total_t1
      variables:
        value: float
      then:
        - lambda: |-
            id(static_total_t1) = value;
            ESP_LOGD("custom", "set_total_t1 to: %f", value);
    - service: set_total_t2
      variables:
        value: float
      then:
        - lambda: |-
            id(static_total_t2) = value;
            ESP_LOGD("custom", "set_total_t2 to: %f", value);
    # - service: set_energy_pulse_ratio
    #   variables:
    #     value: float
    #   then:
    #     - lambda: |-
    #         id(energy_pulse_ratio) = value;
    #         ESP_LOGD("custom", "set_energy_pulse_ratio to: %f", value);
    # - service: set_power_pulse_ratio
    #   variables:
    #     value: float
    #   then:
    #     - lambda: |-
    #         id(power_pulse_ratio) = value;
    #         ESP_LOGD("custom", "set_power_pulse_ratio to: %f", value);

ota:
  - platform: esphome
    password: "cd07909de463a6dd9f39d4a8c61e521d"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  ap:
    ssid: "Energy-Meter"
    password: !secret ESPHOME_AP_PSW

output:
  - platform: gpio
    pin: GPIO15
    id: blue_led

light:
  - platform: binary
    id: pulse_led
    internal: true
    output: blue_led

globals:
  - id: static_total_t1
    type: float
    restore_value: true
    initial_value: '0.11'
  - id: static_total_t2
    type: float
    restore_value: true
    initial_value: '0.22'
  - id: power_pulse_ratio
    type: float
    restore_value: true
    initial_value: '18.75'
  - id: energy_pulse_ratio
    type: float
    restore_value: false
    initial_value: '0.0003125'

binary_sensor:
  - platform: gpio
    pin: GPIO5
    name: "enegry_pulse_meter"
    id: energy_pulse_meter
    internal: true
    on_press:
      then:
        - light.turn_on:
            id: pulse_led
        - delay: 20ms
        - light.turn_off:
            id: pulse_led
        - lambda: |-
            int hour = id(homeassistant_time).now().hour;
            if (hour >= 7 && hour < 23) {
              id(static_total_t1) += id(energy_pulse_ratio);
            } else {
              id(static_total_t2) += id(energy_pulse_ratio);
            }      
    filters:
      - invert:
      - delayed_on: 5ms

sensor:
  - platform: internal_temperature
    name: "CPU Temperature"
    update_interval: 60s
  - platform: template
    name: "total_t1"
    device_class: energy
    state_class: total_increasing
    unit_of_measurement: "kWh"
    icon: "mdi:lightning-bolt"
    accuracy_decimals: 2
    lambda: |-
      return id(static_total_t1);
    update_interval: 60s
  - platform: template
    name: "total_t2"
    device_class: energy
    state_class: total_increasing
    unit_of_measurement: "kWh"
    icon: "mdi:lightning-bolt"
    accuracy_decimals: 2
    lambda: |-
      return id(static_total_t2);
    update_interval: 60s
        
time:
  - platform: homeassistant
    id: homeassistant_time
    timezone: "Europe/Moscow"

# captive_portal:
# web_server:
#   local: true
    
    