esphome:
  name: plantower
  friendly_name: plantower

esp32:
  board: lolin_s2_pico
  framework:
    type: arduino

# Enable logging
logger:
  logs:
    light: NONE 
    binary_sensor: NONE
# Enable Home Assistant API
api:
  encryption:
    key: "b0jNIrU3+iUt1+yjziqEdNW302KFtwIJsxfZiZ9RHGI="

ota:
  - platform: esphome
    password: "b5a381d0184b7d0fabfbb423f804c378"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  output_power: 18.0dB

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Plantower Fallback Hotspot"
    password: "Nb6Xnj5ClMNY"

output:
  - platform: slow_pwm
    pin: GPIO15
    id: blue_led
    period: 2s
    max_power: 0.05

light:
  - platform: binary
    name: "status_led"
    output: blue_led
    id: status_led
    restore_mode: ALWAYS_ON

uart:
  tx_pin: GPIO7
  rx_pin: GPIO9
  baud_rate: 9600

sensor:
  - platform: pmsx003
    type: PMSX003
    pm_1_0:
      name: "Particulate Matter <1.0µm Concentration"
    pm_2_5:
      name: "Particulate Matter <2.5µm Concentration"
    pm_10_0:
      name: "Particulate Matter <10.0µm Concentration"

# captive_portal:
web_server:
  local: true
    